*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}

:root{
    --main-color: #4c72aa;
    --sec-color: #023e8a;
    --inside: #758ca1;
}

.chatroom{
    background-color: var(--main-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login{
    background-color: #1f1f57;
    color: white;
    padding: 2rem 1rem;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 24%;
    z-index: 3;
}

.newUserGreetings{
    text-align: center;
    color: whitesmoke;
}

.offDisplay{
    display: none;
}

.login h3{
    margin-bottom: 1rem;
}

.login button{
    margin-top: 1rem;
}

.login input{
    border-radius: 8px;
    padding: .2rem .8rem;
}

.logo{
    text-align: center;
    padding: 2rem 1rem 1rem;
    color: aliceblue;
    font-weight: 700;
}

.chat{
    height: 85vh;
    width: 60%;
    position: relative;
    background-color: var(--sec-color);
    border-radius: 20px;
}

.chat-container{
    height: 78vh;
    width: 100;
    margin: 1rem;
    background-color: var(--inside);
}

form{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input{
    position: absolute;
    width: 80%;
    padding: .5rem 1rem;
    border-radius: 10px;
    background-color: #1f1f57;
    border: none;
}

button{
    cursor: pointer;
    border-radius: 10px;
    padding: .4rem .8rem;
    font-weight: 900;
    z-index: 2;
    margin-left: 71%;
    border: none;
    background-color: #5353be;
    color: white;
}

.card{
    background-color: #5353be;
    color: whitesmoke;
    width: fit-content;
    padding: .2rem 1rem;
    margin: 1rem 0;
    border-radius: 10px;
}

.name{
    font-size: .5rem;
    font-weight: 900;
    text-align: start;
}